@import 'tailwindcss';

:root {
  font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #0f172a;
  background: #f0f9ff;
}